

body
{
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:'Montserrat'
}

.container
{
    text-align: center;
    background-color: rgb(156, 142, 77);
    height: 100px;
    width:500px;
    border-radius: 15px;
    border:3px solid black;

}


#add-task, #input-task
{
    
    font-size: 32px;
    background-color:rgb(212, 209, 202);
    margin: 25px 5px;
    border-radius: 10px;
    margin-bottom: 50px;
}


#add-task:hover
{
    background-color: rgb(74, 196, 74);
    color: white;
    cursor: pointer;
}

.task
{

    font-size: 24px;
    font-weight: bold;
    width:100%;
    margin:5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    display: flex;

}

li
{
    list-style: none;
    flex:4;
    padding:5px;
    font-size: 1.34rem;
    margin:10px;
}
 
button
{
    border-radius: 10px;
    background-color: white;
    border: 5px solid black;
    cursor:pointer;
}
.checkTask
{
   color: green;
    border: 3px solid green;
    margin:5px;
    
}

.deleteTask
{
    color: red;
    border: 3px solid red;
    margin:5px;

}

.checkTask:hover
{
   background-color: green;
   color:white;
    font-weight: bold;
}

.deleteTask:hover
{
    background-color: red;
    color:white;
    font-weight: bold;

}